

#mainDisplay img {
    display: block;
    margin: 0 auto;
    height: 25%; 
    width: 25%;
}



.contactInfo{
  text-align:center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
}

